{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Section -->
    <section class="min-vh-100 d-flex bg-primary align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                    <div class="card bg-primary shadow-soft border-light p-4">
                        <div class="card-header text-center pb-0">
                            <h2 class="h4">
                                <a href="https://appseed.us/apps/flask-apps/flask-neumorphism-uikit" 
                                   target="_blank">Flask Neumorphism UI</a> - Register    
                            </h2>  
                            <br />
                            <span class="font-weight-normal">
                                {% if msg %}
                                    {{ msg | safe }}
                                {% else %}
                                    Add your credentials
                                {% endif %}                                  
                            </span>                                
                        </div>
                        <div class="card-body">
                            
                            {% if not success %}
                                <form method="post" action="" class="mt-4">

                                    {{ form.hidden_tag() }}

                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputIcon3">Username</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                            </div>
                                            {{ form.username(class="form-control") }}
                                        </div>
                                    </div>
                                    <!-- End of Form -->

                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputIcon3">Email</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                            </div>
                                            {{ form.email(class="form-control") }}
                                        </div>
                                    </div>
                                    <!-- End of Form -->

                                    <div class="form-group">
                                        <!-- Form -->
                                        <div class="form-group">
                                            <label for="exampleInputPassword6">Password</label>
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                                                </div>
                                                {{ form.password(class="form-control", type="password") }}
                                            </div>
                                        </div>
                                        <!-- End of Form -->

                                        <div class="d-block d-sm-flex justify-content-between align-items-center mb-4">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" checked="checked" id="defaultCheck5">
                                                <label class="form-check-label" for="defaultCheck5">
                                                Agree with terms
                                                </label>
                                            </div>

                                            <div>
                                                <a href={{ url_for('login') }} class="small text-right">Login</a>
                                            </div>

                                        </div>
                                    </div>
                                    <button type="submit" name="register" class="btn btn-block btn-primary">Sign UP</button>
                                </form>
                            {% endif %}

                            <div class="mt-3 mb-4 text-center">
                                <br />
                            </div>

                            <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    &copy; <a target="_blank" href="https://themesberg.com/">Themesberg</a> 
                                    - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
